doctype html
html
  head
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,700')
    link(rel='stylesheet', href='../static/stylesheets/style.css')
  block content
